<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>File Sharer Locally</title>
</head>

<body>
	<h1>File Sharer Locally</h1>
	<p>Connect anywhere from your local address: <a href="{{ address }}">{{ address }}</a></p>
	<div id="qrcode"></div>
	<p>Upload your file here</p>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="file">
		<button type="submit" name="submit">Upload</button>
	</form>
	<br><br><br><br><br>
	<h2>Uploaded Files</h2>
	<ul>
		{% for file in files %}
		<li><a href="/uploads/{{ file }}">{{ file }}</a></li>
		{% endfor %}
	</ul>

</body>

</html>